@import "colors.scss";
@import "nav.scss";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

/* Variables */
$fontFamily1: Arial, Helvetica, Sans-Serif;
$fontFamily2: 'Sacramento', cursive;
$fontSizeH1: 3em;
$fontSizeH2: 2.5em;
$fontSizeH3: 2em;
$fontSizeSmall: 0.85em;


//Sidebar
.sidebar {
  background-color: #0D0E0F;
  width: 200px;
  height: 85%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}
.sidebar a:hover{
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.sidebar img {
  padding: 10px;
}

.mylinks{
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 10%;
}

// body and main

body {
  background-color: black;
}

main {
  margin-left: 250px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}
// Heading of the page
.pageHeading {
  height: 25%;
}

.text {
  color: white;
  font-size: 75px;
  font-weight: bolder;
  font-family: 'Lobster', cursive;
  margin-bottom: 20px;
}

.text1 {
  color: white;
  font-size: 85px;
  font-weight: bolder;
  font-family: 'Lobster', cursive;
  margin-left: 15%;
}
// images and caption
.row {
  display: flex;
  height: 60%;
}

.column {
  flex: 45.5%;
  padding: 5px;
  margin-right: 10px;
}

.column img {
  height: 60%;
}

.caption {
  color: white;
  font-weight: bold;
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
  font-family: $fontFamily1;
}
// footer
.footer {
  background-color: #0D0E0F;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  color: white;
}

.flex-cointainer {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  height: 15%;
}

.left{
  padding: 20px 10px;
  flex: 40%;
  text-align: left;
}

.bottomtext {
  font-size: 30px;
  margin-left: 20px;
  margin-top:20px
}

.middle {
  padding: 20px 10px;
  flex: 35%;
}
.infoPolicy {
  display: inline;
}

.info {
  display: inline;
  margin-right: 110px;
}

.policy {
  display: inline;
}

.right {
  padding-top: 3%;
  flex: 15%;
  align-items: center; 
}

.social {
  display: inline;
}

.facebook {
  display: inline;
  margin-right: 10px;
}

.instagram {
  display: inline;
}




// register form 

.myheading {
  text-align: center;
  color: white;
  font-size: 85px;
  font-weight: bolder;
  font-family: 'Lobster', cursive;
  margin-top: 20px;
}

.form-registration {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    color: white;
    font-weight: bold;
}

.form-registration {
    display: flex;
    flex-wrap: wrap;
  }

.form-registration input{ 
    width: 100%;
    height: 40px;
    margin: 0px 0 10px;
  }

.form-registration .btn {
    flex: 1 0 100%;
  }

.my-errors {
    margin: 50px auto 0 auto;
    padding: 0;
    list-style: none;
    color: #333;
    font-size: 1.2rem;
    display: table;
  }

.my-errors li {
    margin: 0 0 1rem;
    color: white;
  }

.my-errors li:before {
    content: "! Error : ";
    color: #f00;
    font-weight: bold;
  }

.mybutton {
      width: 100%;
      margin: 0px 0 10px;
      height: 40px;
    }

// thankyou

.thanks {
  color: white;
  text-align: center;
  font-size: 85px;
  font-weight: bolder;
  font-family: 'Lobster', cursive;
}

.mylogin {
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
  font-family: 'Lobster', cursive;
}

//syle for table display

.listing-table {
  width: 80%;
  margin: auto;
}
.listing-table th,
.listing-table td {
  padding: 10px;
  border-bottom: 1px solid #666;
  background-color: white;
}
.listing-table th {
  background: #000;
  color: #fff;
}
.listing-table td:first-child,
.listing-table th:first-child {
  border-right: 1px solid #666;
}

//collections
.container {
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.boyHeading{
  color: white;
  font-size: 90px;
  font-weight: bolder;
  font-family: 'Lobster', cursive;
  margin-top: 30px;
  margin-left: 40%;
}

// For I-pad and I-pad Pro
@media (max-width: 1024px) {
  * {
    box-sizing: border-box;
  }
  
  .pageHeading {
    margin-top: 40px;;
  }

  .text {
    font-size: 80px;
  }

  .text1{
    font-size: 90px;
  }

  .column img {
    //width: 300px !important;
    height: 600px !important;
  }

  .row {
    margin-top: 100px;
  }

  .boyHeading{
    color: white;
    font-size: 90px;
    font-weight: bolder;
    font-family: 'Lobster', cursive;
    margin-top: 75px;
    margin-left: 32%;
  }

  .container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px;
  }

  // register form 

.myheading {
  text-align: center;
  color: white;
  font-size: 85px;
  font-weight: bolder;
  font-family: 'Lobster', cursive;
  margin-top: 115px;
}

  // .row {
  //   display: block;
  //   height: 60%;
  // }
  
  // .column {
  //   padding: 5px;
  //   margin-right: 10px;
  //   width: 300px;
  //   display: block;
  // }
}